@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #3d64e6;
}
.container{
    background-color: #fff;
    width: 80vw;
    max-width: 37.5em;
    padding: 3em 2.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.62em;
    box-shadow: 0 1.25em 1.8em rgba(8, 21, 65, 0.25);
}
.search-wrapper {
	display: flex;
	justify-content: space-around;
    flex-wrap: wrap;
}
.search-wrapper button {
	font-size: 22px;
	background-color: #3d64e6;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 11px;
}
.search-wrapper input{
    font-size: 1em;
    padding: 0 0.62em;
    border: none;
    border-bottom: 2px solid #3d64e6;
    outline: none;
    color: #222a43;
    width: 60%;
}

#result{
    margin-top: 1.5em;
}
.container .flag-img{
    display: block;
    width: 45%;
    min-width: 7.5em;
    margin: 1.8em auto 1.2em auto;

} 
.container h2{
    font-weight: 600;
    color: #222a43;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1.8em;
}
.data-wrapper{
    margin-bottom: 1em;
    letter-spacing: 0.3px;
}
.container h4{
    display: inline;
    font-weight: 500;
    color: #222a43;
}
.container span{
    color: #5d6274;
}
.container h3{
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
    color: #ff665a;
}


@media (max-width: 450px) {
    .container {
        width: 95%;
    }
    .search-wrapper input {
        width: 100%;
    }
    .search-wrapper button {
        font-size: 22px;
        background-color: #3d64e6;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 11px;
    }
    #result {
        width: 80%;
    }
    .search-wrapper button {
        font-size: 15px;
        margin: 20px 0;
        width: 100%;
    }
}
